.Event {
  padding-bottom: 1rem;
}

.Event > .card {
  transition: background-color 1s ease-in-out;
}

.Event .description {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.card-content .tag {
  padding-left: 0;
}

.card-footer-item {
  text-align: center;
}

.selected > .card {
  background-color: lightyellow;
}